*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a33a0d6c;
    font-family: sans-serif;
    outline: none;
}

.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    background-color: #636669;
    padding: 15px;
    border-radius: 30px;
    box-shadow: inset 5px 5px 12px #3e3b3b,
                      5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(6,68px);
}

input{
    grid-column: span 6;
    height: 70px;
    width: 380px;
    background-color: #a1ee6a;
    box-shadow: inset -5px -5px 12px #b6f371,
                      5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 15px;
    color: rgb(70, 70, 70);
    font-size: 50px;
    text-align: end;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;
    padding: 20px;
    color:black;
}

button{
    height: 48px;
    width: 48px;
    background-color: #606263;
    box-shadow: inset -5px -5px 12px #201f1f,
                       5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 15px;
    margin: 8px;
    font-size: 16px;
    color:white;
}

.equal{
    width: px;
    border-radius: 15px;
    box-shadow: inset -5px -5px 12px #ffffff,
                       5px 5px 12px rgba(0,0,0,.16);
    
}